:root{
    --background: #450b6e;
    --texto: #eaeaea;
    --borda: #c0c0c0;
    --texto-topo-h2:#fff;
    --texto--h2:#fff;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* mnu */
.container{
    max-width: 85%;
    margin: 0 auto;
}
header{
    background-color: var(--background);
}
/* menu */

nav { width: 100%; background: #333; float: left; padding: 10px 0px; }
nav ul li { list-style: none; display: inline; }
nav ul li a { padding: 10px; color: rgb(204, 196, 196); font: 1.3em Tahoma; }
#menu, .menu {	display: none; }
nav ul li a:hover {color: rgb(246, 245, 245);}



.topo{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 25px;
}
.topo #texto{
    border: 1px solid rgb(163, 162, 162);
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 50%;
    padding: 15px;
    color: #b5bcbf;
}
.topo #texto h2{
    margin-bottom:1em;
}

.topo img{
    width: 40%;
}
/* conhecimento */
#conhecimento{
    margin-bottom: 15px;
}
.conhecimento h3{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 10px;
}

#linguagens{
    display: flex;
    flex: 1;
    justify-content:center;
    max-width: 100%;
    flex-wrap: wrap;
}

#linguagens .item{
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
	background: rgb(120, 32, 196);
	text-align: center;
	font-size: 1.5em;
    padding: 15px;
    color:var(--texto);
}
/* projetos */

#projetos{
    margin-bottom: 15px;
    padding: 5px;
    padding-bottom: 15px;
    background: linear-gradient(to top left, #6600ff 15%, #cc33ff 94%);
}
.projeto h3{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 10px;
    color:var(--texto);
}
#site{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#site .item{
    width: 32%;
    padding-bottom: 5px;
    background-color: rgb(19, 3, 3);
    margin: 5px;
}
#site .item img{
    width: 100%;
}
#site .item a img:hover{
    opacity: 0.5;
}

/* fcontato */
.contato{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 15px;
}
.contato .cont img{
    width: 10%;
    margin-right: 8px;
}
.cont{
   width:40%;
   display: flex;
   justify-content:center;
   align-items: center;
}
.cont a span{
    font-size: 1em;
    font-weight: 600;
    color: black;
}
.size-img{
    text-align: center;
    width: 100%;
}
.cont-img{
    background-color: rgb(2, 71, 149);
    
}
.cont-img:hover{
    background-color: rgb(28, 117, 220);
    
}
/* footer */
footer{
    background: linear-gradient(to top left, #6600ff 15%, #cc33ff 94%);
    padding: 20px;
}
.rodape{
    color: #f7f4f4;
    text-align: center;
}

@media screen and (max-width: 480px) {

	nav { display: none; }
	#menu:checked ~ nav {
		display: block;
	}
	.menu { display: block; background: #ccc; padding: 10px; float: right; }
	nav ul { margin: 0; padding: 0; }
	nav ul li { display: block; padding: 10px 0px; }
	nav ul li a { width: 100%; float: left; text-align: center; }
    nav ul li a:hover {color: rgb(246, 245, 245); background-color: rgb(33, 32, 32);}
    .topo{
        display: flex;
        flex-direction:column;
    }
    .topo #texto{
        max-width: 100%;
        padding: 10px;
    }
    .topo #texto h2{
        font-size: 18px;
        margin-bottom:0.5em;
    }
    .topo img{
        width: 100%;
    }
    #linguagens{
        display: flex;
        flex-direction: column;
        justify-content:center;
        max-width: 100%;
        flex-wrap: wrap;
    }
    #site{
        display: flex;
        flex-direction:column;
    }
    #site .item{
        width: 100%;
    }
    .contato{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contato .cont img{
        width: 10%;
    }
    .cont{
        width:80%;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-bottom: 0.5em;
     }
    
}